USE [master]
GO
/****** Object:  Database [MitraisCodingTest]    Script Date: 9/30/2019 01:35:04 AM ******/
CREATE DATABASE [MitraisCodingTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MitraisCodingTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.FIKRIMU\MSSQL\DATA\MitraisCodingTest.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MitraisCodingTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.FIKRIMU\MSSQL\DATA\MitraisCodingTest_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MitraisCodingTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MitraisCodingTest]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 9/30/2019 01:35:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Registration](
	[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[MobileNumber] [varchar](15) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[LastName] [varchar](255) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [varchar](6) NULL,
	[Email] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MobileNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
