@{
    ViewBag.Title = "Home Page";
}
<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
    }

    /* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
    body.loading .modal {
        overflow: hidden;
    }

    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .modal {
        display: block;
    }
</style>
<h3>Registration</h3>
<form id="form1">
    <div class="form-group">
        <input type="text" class="form-control" id="txtMobileNumber" aria-describedby="emailHelp" placeholder="Mobile Number" required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="txtFirstName" aria-describedby="emailHelp" placeholder="First Name" required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="txtLastName" aria-describedby="emailHelp" placeholder="Last Name" required>
    </div>
    <div class="form-group">
        <input type="text" id="txtDOB" class="form-control" placeholder="Date Of Birth">
    </div>
    <div class="form-group">
        <input type="checkbox" class="form-check-input" id="chxMale">
        <label class="form-check-label" for="exampleCheck1">Male</label>
        <input type="checkbox" class="form-check-input" id="chxFemale">
        <label class="form-check-label" for="exampleCheck1">Female</label>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp" placeholder="Email" required>
    </div>
    <button type="submit" id="btnSubmit" class="btn btn-success" style="background:blueviolet;width:280px">Submit</button>
    <br />
    <br />
    <button type="submit" id="btnLogin" class="btn btn-success" style="background:blueviolet;width:280px">Login</button>
</form> 
<div class="modal"><!-- Place at bottom of page --></div>
<script src="~/Scripts/jquery.min.js"></script>
@*<script src="~/Scripts/jquery.date-dropdowns.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>*@
<script src="~/Scripts/Index.js"></script>
<script type="text/javascript">
    $body = $("body");

    $(document).on({
        ajaxStart: function () { $body.addClass("loading"); },
        ajaxStop: function () { $body.removeClass("loading"); }
    });
</script>